{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Неверный логин или пароль. Пожалуйста повторите попытку.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У Вашего аккаунта недостаточно прав для доступа к этой странице.
        Войдите под учётной записью, у которой достаточно прав</p>
    {% else %}
    <p>Пожалуйста авторизуйтесь для просмотра страницы.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}