<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Local Library</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/container.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/image.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/divider.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/segment.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/message.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.min.css'%}">

    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js/jquery.cookie.js'%}"></script>
    <script src="{% static 'js/form.min.js'%}"></script>
</head>
<body>
    {% block sidebar %}
        <div class="ui five item menu">
            <div class="ui container">
                <a class="header blue item" href="/">Local Library</a>
                <a class="blue item active" href="{% url 'index' %}">Главная</a>
                <a class="item" href="">Все книги</a>
                <a class="item" href="">Все авторы</a>
            </div>
        </div>
    {% endblock %}
    <div class="ui container">
        <div class="ui column ten">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>