{% extends "base.html" %}
{% block title %}<title>Не библиотека - а больше...</title>{% endblock %}
{% block content %}
    <h1>Local Library</h1>

    <p>Добро пожаловать на <em>LocalLibrary</em>, лучшую библиотеку в сети.</p>
    <p>В библиотеке есть следующие книги:</p>
    <ul>
        <li><strong>Жанры1:</strong> {{ genre }}</li>
        <li><strong>Книги:</strong> {{ num_books }}</li>
        <li><strong>Копии книг:</strong> {{ num_instances }}</li>
        <li><strong>Доступные книги:</strong> {{ num_instances_available }}</li>
        <li><strong>Авторы:</strong> {{ num_authors }}</li>
    </ul>
    <p>Вы заходили на эту страницу {{ num_visits }}{% if num_visits == 1 %} time{% else %} раз{% endif %}.</p>
{% endblock %}